.root{
    -fx-background-color: #181818;
}
.label{
    -fx-text-fill: #AB4642;
}
.button{
    -fx-background-color: linear-gradient(#DC9656, #AB4642);
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 4;
}
.button-customStyle{
    -fx-background-color: #7cafc2;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 4;
}
#bold-label{
    -fx-font-weight: bold;
}